.idea
docker/logs

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker/pg ###
!docker/pg_data/storage/.gitkeep
docker/pg_data/storage
###< docker/pg ###
/ca.pem
